<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <appSettings>

    <!-- QA UK-->
    <add key="SecurityTokenServiceAuthority" value="https://wwwqa-sts-api-app.azurewebsites.net" />
    <add key="Url" value="https://wwwqa-ref-data-api-app.azurewebsites.net/" />
    <add key="userprofileUrl" value="https://wwwqa-user-profile-api-app.azurewebsites.net/" />
    <add key="loggingUrl" value="http://wwwqa-logging-api-app.azurewebsites.net/" />
    <add key="ReferenceData_Client_ID" value="Client1"/>
    <add key="ReferenceData_Client_Secret" value="nm -9731-4A25-80EF-67A6F7C5F4B8"/>
    <add key="ReferenceData_Scope" value="ReferenceData.Read"/>
    <add key="Logger_Client_ID" value="www.LoggingService.qa"/>
    <add key="Logger_Client_Secret" value="817fc69b-28ba-4f7f-96f2-9d291963d063"/>
    <add key="Logger_Scope" value="Logger.Create"/>
    <add key="userprofile_Scope" value="UserProfile.Read"/>
    <add key="Subscription_Scope" value="SubscriptionManagement.Read"/>
    <add key="Document_Scope" value="Integration.Documentation"/>
    <add key="healthcheck_Scope" value="IntegrationLayer.Admin" />
    <add key="KeyVaultReferenceDataId" value="c2034b46-zyc-40d8-9e35-81d08728781d" />
    <add key="KeyVaultReferenceDataSharedSecret" value="xyz/1N8OOPPlc6RfZrr2WRvCeAQ=" />
    <add key="KeyVaultUrl" value="https://wwwqa-kv-app.vault.azure.net/" />

    <!-- DEV -->
   
    <!-- SIT -->
   
    <!-- QA IAT-->
   
    
  </appSettings>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
